.App {
  text-align: center;
  background-color: #ffddd3;
  animation-name: color;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  height: 100%;
}

@keyframes color {
  0% {
    background-color: #ffddd3;
  }
  50% {
    background-color: #f3bfb3;
  }
  100% {
    background-color: #ffddd3;
  }
}

.App-header {
  min-height: 70px;
  padding: 20px;
  color: #fdf8e2;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}
